<div class="text-center">
  <h5 class="text-header">DAILY ORDER</h5>
</div>
<div class="table-responsive">  
  <table class="table table-hover table-striped">  
    <thead class="">  
        <tr>
            <th>Order Id</th>
            <th>Pizza Name</th>
            <th>Size</th>
            <th>Price (N)</th>
            <th>Order Status</th>
            <th>Date</th>
            <th>Action</th>
        </tr>  
    </thead>  
    <tbody>  
      <tr > 
        <!-- <td>{{trn.orderId}}</td>  
        <td>{{trn.pizzaName}}</td>
        <td>{{trn.size}}</td> 
        <td>{{trn.price}}</td>
        <td>{{trn.trnstatus}}</td>  
        <td>{{trn.trndate}}</td> -->
        <td>   
          <button class="btn btn-info"> Confirm</button>  
        </td> 
      </tr>  
    </tbody>  
  </table>  
</div> 
    

