.bg{
  background-color: #f6f6f6;
}
.navbar{
  background-color: #2c3e50;
  border-bottom: 2px;
  margin: 0px;
  border-radius: 0px;
  padding: 15px 0px;

} 
.bot-home{
  color: #ffffff;
  font-size: 18px;
}
.nav-link{
  color: #ffffff;
  font-size: 18px;
  margin: 5px;
}
.navbar-toggler{
background : #ffffff;
margin: 5px;
}
.card{
  width: 50%;
  margin-top: 50px;
  background: #ffffff;
  color: #000000;
  /* width:100% */
  place-content: center;
  
}

.link-form{
  font-size: 18px;
  color: #000000;
}
.nav-tabs:hover{
  background: #ffffff;
  border: #2c3e50;
}


