<div class="text-center mt-2">
  <h3>Employee List</h3>
</div>
<div class="row">
  <main class="col-lg-12">
    <div class="d-flex justify-content-end">
      <input type="text" [(ngModel)] = "searchText" placeholder="Search" class="search-bar">
    </div>
    <div class="card">
      <table class="table table-hover">
        <thead class="text">
          <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Gender</th>
            <th>Email</th>
            <th>PhoneN0</th>
            <th>Address</th>
            <th></th>             
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of staffList |filter: searchText | paginate: { itemsPerPage: 5, currentPage: p }"> 
              <td>{{list.firstName}}</td>  
              <td>{{list.lastName}}</td>
              <td>{{list.gender}}</td> 
              <td>{{list.email}}</td>  
              <td>{{list.phoneNumber}}</td>
              <td>{{list.address}}</td>
          </tr>
        </tbody>
      </table>
    </div> 
  </main> 
</div>
<div class="text-center mt-3">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
      
