.card{
  background: #ffffff;
  color: #000000;
  place-content: center;
  -webkit-box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
          box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
  -webkit-transition: .5s;
  transition: .5s; 
}
.navbar{
  background-color: #2c3e50;
  /* #8a8b8d; */
  border-bottom: 2px;
  margin: 0px;
  border-radius: 0px;
  padding: 15px 0px;
}
.bot-dash,
.bot-logout{
    color: #ffffff;
    font-size: 18px;
}

.navbar-brand{
  color: #ffffff;
}

.d-date{
  color:#000000; 
  font-size: 20px;
  padding-top: 10px;
}
.signout-btn{
  color: #ffffff;
}
.navbar-toggler{
  background: #ffffff;
  margin-right: 5px;
}
/* .main-body{
  background: #f1f1f1;
} */
.list-lg li {
  margin-bottom: 10px; 
  font-size: 22px;
}
.list-lg li a{
 color: #464343;
}
.quick-links{
  margin-top: 50px;
}
